<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Total Comments : <%-comments.length%></h1>
    <ol>
        <%comments.forEach((comment) => { %>
            <li>Author:<%-comment.author%> | Comment:<%-comment.comment%> | <a href="/comments/<%-comment.id%>">More Info</a></li>
        <% }) %>
    </ol>
    <a href="/comments/new">Add new Comment</a>
</body>
</html>